html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header {
  position: relative;
  min-height: 56px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 71px;
}

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.site-navigation > li {
  width: 20%;
  max-width: 240px;
  text-align: center;
  line-height: 56px;
}

.site-navigation > li:nth-child(2) {
  margin-right: 20%;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.nav-item {
  color: #000000;
}

.container {
  margin: 0 auto;
}

.intro-welcome {
  position: relative;
  width: 1200px;
  height: 509px;
  background-color: #f2f2f2;
  background-image: url("../img/background-photo.jpg");
  background-position-y: -55px;
  text-align: center;
  padding-top: 76px;
}

.intro-welcome:before {
  content: "";
  position: absolute;
  width: 1200px;
  height: 59px;
  background-image: url("../img/intro-mask.svg");
  bottom: -2px;
  left: 0;
}

.intro {
  width: 1200px;
  min-height: 216px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 61px;
  padding-bottom: 48px;
  margin: 0;
}

.intro-heading {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding-left: 379px;
  padding-right: 380px;
}

.intro-subheading {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding-top: 26px;
}

.features-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.feature-item img {
  display: block;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.feature-item-blue {
  width: 400px;
  padding-top: 46px;
  padding-bottom: 59px;
  padding-left: 48px;
  padding-right: 49px;
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-item-blue h3 {
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
}

.feature-item-blue p {
  margin: 0;
  padding-top: 23px;
}

.features-item-white {
  width: 400px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 81px;
}

.features-item-white h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.features-item-white img {
  display: inline;
}

.features-item-white p {
  margin: 0;
  padding-left: 57px;
  padding-right: 57px;
}

.features-item-gray {
  width: 400px;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 59px;
  background-color: #eeeeee;
}

.features-item-gray h3 {
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 127px;
  margin-right: 126px;
}

.features-item-gray p {
  margin: 0;
  padding-top: 20px;
  padding-left: 65px;
  padding-right: 65px;
}

.interested-in {
  width: 100%;
  min-height: 291px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.interested-in h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding-top: 50px;
  padding-left: 383px;
  padding-right: 383px;
}

.interested-in p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 24px;
  padding-left: 382px;
  padding-right: 382px;
  padding-bottom: 47px;
  margin: 0;
}

.search {
  position: relative;
}

.button-search {
  display: block;
  color: #ffffff;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  width: 568px;
  height: 86px;
  border: none;
  margin: 0 auto;
  padding-top: 30px;
  cursor: pointer;
}

.button-search:hover,
.button-search:focus {
  color: #ffffff;
  background-color: #604e43;
}

.button-search:active {
  color: #928a85;
  background-color: #503e33;
}

.button-brown:hover,
.button-brown:focus {
  color: #ffffff;
  background-color: #604e43;
}

.button-brown:active {
  color: #928a85;
  background-color: #503e33;
}

.button-search-submit {
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 15px;
}

.button-blue:hover,
.button-blue:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.button-blue:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.search-form {
  display: none;
  position: absolute;
  width: 568px;
  height: 395px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  left: 50%;
  margin-left: -284px;
  top: 100%;
  padding: 55px;
}

.search-form-show {
  display: block;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.search-form-error {
  animation: shake 0.6s;
}

.search-form-control {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  align-items: baseline;
}

.search-form-control input {
  height: 38px;
  width: 346px;
  padding-left: 12px;
  padding-right: 39px;
  background: #f2f2f2;
  font: inherit;
  border: #000000;
  cursor: pointer;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-form-control input:hover {
  background: #ebebeb;
}

.search-form-control input:focus {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  outline-color: #f2f2f2;
}

.search-form-control label {
  width: 112px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  padding-right: 20px;
}

.search-form-button-calendar {
  display: block;
  content: "";
  width: 21px;
  height: 22px;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 9px;
  padding: 0;
}

.search-form-button-calendar svg:hover,
.search-form-button-calendar svg:focus {
  fill: #000000;
}

.search-form-button-calendar svg:active {
  fill: #81b3d2;
}

.search-form-grid {
  display: flex;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 54px;
}

.search-form-control-half {
  width: 50%;
  display: flex;
  margin: 0;
  padding: 0;
}

.search-form-control-half label {
  width: 112px;
  padding-top: 5px;
  padding-right: 39px;
}

.search-form-control-half button {
  padding-left: 55px;
  padding-right: 41px;
  color: #a9a9a9;
}

.search-form-control-half button:hover {
  color: #000000;
}

.search-form-control-half button:active {
  color: #88b7d5;
}

.search-form-control-half-child {
  display: flex;
  width: 50%;
  margin: 0;
  padding: 0;
}

.search-form-control-half-child label {
  width: 118px;
  padding-top: 5px;
  padding-left: 26px;
}

.search-form-control-half-child button {
  padding-left: 55px;
  padding-right: 41px;
  color: #a9a9a9;
  outline: none;
}

.search-form-control-half-child button:hover {
  color: #000000;
  outline: none;
}

.search-form-control-half-child button:active {
  color: #88b7d5;
  outline: none;
}

.search-form-count {
  width: 114px;
  display: flex;
}

.search-form-count button {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  font: inherit;
  border: #000000;
  cursor: pointer;
  color: #a9a9a9;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-form-count button:hover,
.search-form-count button:focus {
  color: #000000;
}

.search-form-count button:active {
  color: #81b3d2;
}

.search-form-count input {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  font: inherit;
  border: #000000;
  cursor: pointer;
  text-align: center;
}


.modal-map iframe {
  position: relative;
  z-index: 5;
  border: none;
}

/*
.modal-map img {
  display: block;
  z-index: 0;
}
*/

.main-footer {
  color: #000000;
  background-color: #f9fbf6;
  height: 120px;
  width: 1200px;
  z-index: 10;
}

.main-footer-home {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: -120px;
  position: relative;

}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 32px;
}

.footer-contacts {
  width: 400px;
  margin: 0;
  padding-left: 124px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-contacts h4 {
  margin: 0;
}

.footer-contacts p {
  margin: 0;
  padding-top: 5px;
}

.footer-social {
  width: 400px;
  margin: 0;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 149px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  width: 400px;
  padding: 0;
  padding-left: 101px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.footer-copyright b {
  padding-left: 2px;
  padding-top: 7px;
}

.footer-copyright svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 44px;
  margin: 0;
  padding-left: 7px;
  background-color: transparent;
}

.footer-copyright svg:hover path,
.footer-copyright svg:focus path {
  fill: #81b3d2;
}

.footer-copyright svg:active path {
  fill: #cccccc;
}

.nav-current {
  color: #766357;
}

.search-section {
  width: 1200px;
  background-color: #766357;
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  top: -15px;
  background-position-y: -55px;
  background-repeat: no-repeat;
  color: #ffffff;
  text-transform: uppercase;
}

.filters-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 26px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 7px;
}

.filter-section.first {
  margin-right: 123px;
}

.filter-section.second {
  margin-right: 350px;
}

.filter-heading {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-top: 2px;
  margin-bottom: 26px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-list label {
  cursor: pointer;
}

.filter-list input[type="checkbox"] {
  display: none;
}

.checkbox-label {
  cursor: pointer;
}

.checkbox-input + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../img/checkbox-off.png");
  cursor: pointer;
}

.checkbox-input:checked + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0;
  background-color: transparent;
  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter-list li {
  margin-bottom: 24px;
  padding-left: 40px;
  position: relative;
}

.filter-range {
  width: 317px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-top: 1px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 34px;
  margin-bottom: 22px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 150px;
  padding-left: 63px;
}


.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
  width: 5px;
  height: 5px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 84px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sort-results {
  display: flex;
  justify-content: flex-start;
  height: 86px;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 73px;
  padding-top: 31px;
  padding-bottom: 32px;
}

.sort-results-filters {
  display: flex;
  align-items: baseline;
  margin-right: 474px;
}

.sort-results-header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-right: 47px;
}

.sort-results-subheading {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.sort-buttons {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.button-sort {
  outline: none;
  border: 0;
  border-bottom: 1px dotted #8bb9d5;
  color: #d2d2d2;
  text-transform: uppercase;
  background-color: transparent;
  margin: 0;
  padding: 0;
  margin-right: 30px;
  cursor: pointer;
}

.button-sort-active {
  color: #8bb9d5;
  border-bottom: none;
}

.sort-buttons button:hover,
.sort-buttons button:focus {
  color: #8bb9d5;
  border-bottom: 1px dotted #8bb9d5;
}

.sort-buttons button:active {
  color: #000000;
  border-bottom: none;
}

.up-down-buttons {
  display: flex;
  margin-top: 6px;
  padding: 0;
}

.up-down-buttons button {
  outline: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  width: 11px;
  height: 10px;
}

.button-down {
  margin: 0;
  padding: 0;
}

.button-up {
  margin-right: 11px;
  padding: 0;
}

.button-down.button-up-active path {
  fill: #81b3d2;
}

.button-up:hover path,
.button-up:focus path,
.button-down:hover path,
.button-down:focus path {
  fill: #000000;
}

.button-up:active path,
.button-down:active path {
  fill: #81b3d2;
}

.find-results {
  color: #000000;
  background-color: #fefefe;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.hotel-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  width: 1200px;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 72px;
  padding-top: 31px;
  padding-bottom: 29px;
}

.hotels-image {
  width: 135px;
  height: 90px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
}

.hotel-description {
  margin: 0;
  margin-right: 522px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.find-results h2 {
  font-size: 21px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 13px;
}

.hotels-inline-block {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
}

span.hotels-type {
  min-width: 113px;
  display: inline-block;
}

.button-inline-block {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

.button-details {
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 110px;
  height: 27px;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 3px;
}

.button-booking {
  color: #ffffff;
  background-color: #766357;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 142px;
  height: 27px;
  border: none;
  padding: 0;
  margin: 0;
}

.rating-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.rating {
  display: block;
  width: 110px;
  height: 27px;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.stars-rating {
  text-align: right;
  margin-bottom: 41px;
}

.stars-rating span {
  display: inline-block;
  vertical-align: top;
  background: url("../img/star.svg");
  width: 18px;
  height: 17px;
  margin-left: 1px;
}

.hotels-link {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-link a {
  color: #000000;
}

.hotels-link a:hover,
.hotels-link a:focus {
  color: #81b3d2;
}

.hotels-link a:active {
  color: #cacaca;
}

